<div class="container mt-5" style="min-height: 500px;">
  <h4 class="mt-5">Times do Campeonato {{ campeonato }}</h4>

  <div class="row mt-4 d-flex justify-content-end p-0">
    <div class="col-3 pr-0">
      <select
        class="form-control"
        [(ngModel)]="filtroSelecionado"
        (change)="filtrarGridUtimosJogos(filtroSelecionado)"
      >
        <option *ngIf="filtroSelecionadoMostrar">
          {{ filtroSelecionado }}
        </option>
        <option *ngFor="let value of comboFiltro">
          {{ value.tipo }}
        </option>
      </select>
    </div>
    <div class="col-3 pr-0">
      <label class="sr-only">Pesquisar</label>
      <input
        [disabled]="mostrarPesquisa"
        type="text"
        class="form-control mb-2"
        [(ngModel)]="filtroGrid"
        placeholder="Pesquisar"
      />
    </div>

    <table class="table table-bordered mt-4">
      <thead>
        <tr class="text-center">
          <th scope="col">Escudo</th>
          <th scope="col">Time</th>
          <th scope="col">Posição</th>
        </tr>
      </thead>
      <tbody *ngFor="let time of gridFiltrado" class="text-center">
        <tr (click)="openModal(template, time)" style="cursor: pointer">
          <td><img [src]="time.time.escudo" width="40" height="30" /></td>
          <td>{{ time.time.nome_popular }}</td>
          <td>{{ time.posicao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="filtroNaoEncotrado" class="mt-2">
    <h3 class="text-center">Nenhum time encontrado!</h3>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h5 class="modal-title pull-left">Detalhes do Time</h5>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center mt-2">
        <img [src]="detalhesTime.time.escudo" width="100" height="100" />
      </div>
      <div class="row mt-2 text-center">
        <div class="col-6">
          <p>Nome: {{ detalhesTime.time.nome_popular }}</p>
          <p>Sigla: {{ detalhesTime.time.sigla }}</p>
          <p>Jogos: {{ detalhesTime.jogos }}</p>
          <p>Pontos: {{ detalhesTime.pontos }}</p>
          <p>Posição: {{ detalhesTime.posicao }}</p>
          <p>Aproveitamento: {{ detalhesTime.aproveitamento }}%</p>

          <p style="padding: 0px; margin: 0px">Últimos 5 jogos</p>
          <span>
            <i *ngFor="let jogo of detalhesTime.ultimos_jogos">
              <i
                *ngIf="jogo == 'v'"
                style="color: rgb(60, 202, 60)"
                class="fa fa-check-circle mr-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Vitória"
              ></i>
              <i
                *ngIf="jogo == 'd'"
                style="color: red"
                class="fa fa-times-circle mr-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Derrota"
              ></i>
              <i
                *ngIf="jogo == 'e'"
                style="color: gray"
                class="fa fa-minus-circle mr-2"
                data-toggle="tooltip"
                data-placement="top"
                title="Empate"
              ></i>
            </i>
          </span>
        </div>
        <div class="col-6">
          <p>Vitórias: {{ detalhesTime.vitorias }}</p>
          <p>Derrotas: {{ detalhesTime.derrotas }}</p>
          <p>Empates: {{ detalhesTime.empates }}</p>
          <p>Gols Contra: {{ detalhesTime.gols_contra }}</p>
          <p>Gols a Favor: {{ detalhesTime.gols_pro }}</p>
          <p>Saldo de Gols: {{ detalhesTime.saldo_gols }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
