<div class="container mt-5">
  <h4 class="mt-5">Classificação do Campeonato {{campeonato}}</h4>
  <table class="table table-bordered mt-4">
      <thead>
        <tr class="text-center">
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Posição">P</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Pontos">Pts</th>
          <th scope="col">Time</th>        
          <th scope="col">Sigla</th>
          <th scope="col">Escudo</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Partidas disputadas">PD</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Vitórias">V</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Empates">E</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Derrotas">D</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Gols Marcados">GM</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Gols Contra">GC</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Gols Saldo">GS</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Aproveitamento">%</th>
          <th scope="col" data-toggle="tooltip" data-placement="top" title="Últimos 5 jogos">Últimos 5</th>
        </tr>
      </thead>
      <tbody *ngFor="let time of listaTimes" class="text-center">
        <tr>
          <th scope="row">{{ time.posicao }}</th>
          <td>{{ time.pontos }}</td>
          <td>{{ time.time.nome_popular }}</td>        
          <td>{{ time.time.sigla }}</td>
          <td><img [src]="time.time.escudo" width="40" height="30" /></td>
          <td>{{ time.jogos }}</td>
          <td>{{ time.vitorias }}</td>
          <td>{{ time.empates }}</td>
          <td>{{ time.derrotas }}</td>
          <td>{{ time.gols_pro }}</td>
          <td>{{ time.gols_contra }}</td>
          <td>{{ time.saldo_gols }}</td>
          <td>{{ time.aproveitamento }}%</td>
          <td>
              <i *ngFor="let jogo of time.ultimos_jogos">
                <i
                  *ngIf="jogo == 'v'"
                  style="color: rgb(60, 202, 60)"
                  class="fa fa-check-circle mr-2"
                  data-toggle="tooltip" data-placement="top" title="Vitória"
                ></i>
                <i
                  *ngIf="jogo == 'd'"
                  style="color: red"
                  class="fa fa-times-circle mr-2"
                  data-toggle="tooltip" data-placement="top" title="Derrota"
                ></i>
                <i
                  *ngIf="jogo == 'e'"
                  style="color: gray"
                  class="fa fa-minus-circle mr-2"
                  data-toggle="tooltip" data-placement="top" title="Empate"
                ></i>
              </i>
            </td>
        </tr>    
      </tbody>
    </table>
</div>
